In [3]:
import pandas as pd
import math

df = pd.read_csv('./data/elementry.csv', encoding = 'latin-1')

#df = df.apply(pd.to_numeric, errors='coerce')

df['POST_CS_Q10'] = df['POST_CS_Q10'] - 4
df['PRE_CS_Q10'] = df['PRE_CS_Q10'] - 4

# Combine all 'PRE_CS_Q6' columns into a single 'BPRE_CS_Q6 column with unique values
df['PRE_CS_Q6'] = df[['PRE_CS_Q6.1', 'PRE_CS_Q6.2', 'PRE_CS_Q6.2.3', 'PRE_CS_Q6.2.4']].apply(lambda x: ','.join(sorted(set(x.dropna().astype(str)))), axis=1)
df['PRE_CS_Q9'] = df[['PRE_CS_Q9.1', 'PRE_CS_Q9.2', 'PRE_CS_Q9.3', 'PRE_CS_Q9.4']].apply(lambda x: ','.join(sorted(set(x.dropna().astype(str)))), axis=1)
df['PRE_CS_Q12'] = df[['PRE_CS_Q12.1', 'PRE_CS_Q12.2', 'PRE_CS_Q12.3', 'PRE_CS_Q12.4']].apply(lambda x: ','.join(sorted(set(x.dropna().astype(str)))), axis=1)

# Drop the original 'PRE_CS_Q6.1', 'PRE_CS_Q6.2', 'PRE_CS_Q6.2.3' and 'PRE_CS_Q6.2.4' columns
df = df.drop(columns=['PRE_CS_Q6.1', 'PRE_CS_Q6.2', 'PRE_CS_Q6.2.3', 'PRE_CS_Q6.2.4'])
df = df.drop(columns=['PRE_CS_Q9.1', 'PRE_CS_Q9.2', 'PRE_CS_Q9.3', 'PRE_CS_Q9.4'])
df = df.drop(columns=['PRE_CS_Q12.1', 'PRE_CS_Q12.2', 'PRE_CS_Q12.3', 'PRE_CS_Q12.4'])

df = df.drop(columns = ['Student Name', 'Student Number', 'Ethnicity'])

#df.to_csv('FisrtStepElementry.csv', index=False)

teacher_data_df = pd.read_csv('./data/TeacherData.csv', encoding = 'latin-1')

teacher_data_df.rename(columns={'Code': 'Teacher'}, inplace=True)

# Merge the datasets on the 'Teacher' column
df = pd.merge(df, teacher_data_df[['Teacher', 'TOTAL SCORE']], on='Teacher', how='left')
df.rename(columns={'TOTAL SCORE': 'Teacher_Score'}, inplace=True)

answer_to_points = {1: 3, 2: 2, 3: 1}

for i in range(1, 27):
    question_col = f'PRE_RI_Q{i}'
    answer_col = f'RI_Ans{i}'
    df[answer_col] = df[question_col].map(answer_to_points)


df['Pre_RI_Competence'] = df[['RI_Ans1', 'RI_Ans2', 'RI_Ans3', 'RI_Ans4', 'RI_Ans5', 'RI_Ans6', 'RI_Ans7']].sum(axis=1)

df['Pre_RI_Interest'] = df[['RI_Ans8', 'RI_Ans9', 'RI_Ans10', 'RI_Ans11', 'RI_Ans12', 'RI_Ans13', 'RI_Ans14']].sum(axis=1)

df['Pre_RI_Self_Recognition'] = df[['RI_Ans15', 'RI_Ans16', 'RI_Ans17', 'RI_Ans18', 'RI_Ans19', 'RI_Ans20']].sum(axis=1)

df['Pre_RI_Recognition_ByOthers'] = df[['RI_Ans21', 'RI_Ans22', 'RI_Ans23', 'RI_Ans24', 'RI_Ans25', 'RI_Ans26']].sum(axis=1)

df = df.drop(columns=['PRE_RI_Q1', 'PRE_RI_Q2', 'PRE_RI_Q3', 'PRE_RI_Q4', 'PRE_RI_Q5', 'PRE_RI_Q6', 'PRE_RI_Q7', 'PRE_RI_Q8', 'PRE_RI_Q9', 'PRE_RI_Q10', 'PRE_RI_Q11', 'PRE_RI_Q12', 'PRE_RI_Q13', 'PRE_RI_Q14', 'PRE_RI_Q15', 'PRE_RI_Q16', 'PRE_RI_Q17', 'PRE_RI_Q18', 'PRE_RI_Q19', 'PRE_RI_Q20', 'PRE_RI_Q21', 'PRE_RI_Q22', 'PRE_RI_Q23', 'PRE_RI_Q24', 'PRE_RI_Q25', 'PRE_RI_Q26'])
df = df.drop(columns=['RI_Ans1', 'RI_Ans2', 'RI_Ans3', 'RI_Ans4', 'RI_Ans5', 'RI_Ans6', 'RI_Ans7', 'RI_Ans8', 'RI_Ans9', 'RI_Ans10', 'RI_Ans11', 'RI_Ans12', 'RI_Ans13', 'RI_Ans14', 'RI_Ans15', 'RI_Ans16', 'RI_Ans17', 'RI_Ans18', 'RI_Ans19', 'RI_Ans20', 'RI_Ans21', 'RI_Ans22', 'RI_Ans23', 'RI_Ans24', 'RI_Ans25', 'RI_Ans26'])

for i in range(1, 27):
    question_col = f'POST_RI_Q{i}'
    answer_col = f'RI_Ans{i}'
    df[answer_col] = df[question_col].map(answer_to_points)

df['Post_RI_Competence'] = df[['RI_Ans1', 'RI_Ans2', 'RI_Ans3', 'RI_Ans4', 'RI_Ans5', 'RI_Ans6', 'RI_Ans7']].sum(axis=1)

df['Post_RI_Interest'] = df[['RI_Ans8', 'RI_Ans9', 'RI_Ans10', 'RI_Ans11', 'RI_Ans12', 'RI_Ans13', 'RI_Ans14']].sum(axis=1)

df['Post_RI_Self_Recognition'] = df[['RI_Ans15', 'RI_Ans16', 'RI_Ans17', 'RI_Ans18', 'RI_Ans19', 'RI_Ans20']].sum(axis=1)

df['Post_RI_Recognition_ByOthers'] = df[['RI_Ans21', 'RI_Ans22', 'RI_Ans23', 'RI_Ans24', 'RI_Ans25', 'RI_Ans26']].sum(axis=1)

df = df.drop(columns=['POST_RI_Q1', 'POST_RI_Q2', 'POST_RI_Q3', 'POST_RI_Q4', 'POST_RI_Q5', 'POST_RI_Q6', 'POST_RI_Q7', 'POST_RI_Q8', 'POST_RI_Q9', 'POST_RI_Q10', 'POST_RI_Q11', 'POST_RI_Q12', 'POST_RI_Q13', 'POST_RI_Q14', 'POST_RI_Q15', 'POST_RI_Q16', 'POST_RI_Q17', 'POST_RI_Q18', 'POST_RI_Q19', 'POST_RI_Q20', 'POST_RI_Q21', 'POST_RI_Q22', 'POST_RI_Q23', 'POST_RI_Q24', 'POST_RI_Q25', 'POST_RI_Q26'])
df = df.drop(columns=['RI_Ans1', 'RI_Ans2', 'RI_Ans3', 'RI_Ans4', 'RI_Ans5', 'RI_Ans6', 'RI_Ans7', 'RI_Ans8', 'RI_Ans9', 'RI_Ans10', 'RI_Ans11', 'RI_Ans12', 'RI_Ans13', 'RI_Ans14', 'RI_Ans15', 'RI_Ans16', 'RI_Ans17', 'RI_Ans18', 'RI_Ans19', 'RI_Ans20', 'RI_Ans21', 'RI_Ans22', 'RI_Ans23', 'RI_Ans24', 'RI_Ans25', 'RI_Ans26'])

# Ensure all values are strings, then convert
df['POST_CS_Q6'] = df['POST_CS_Q6'].astype(str).apply(lambda x: ",".join([f"{float(i):.1f}" for i in x.split(",")]))
df['POST_CS_Q9'] = df['POST_CS_Q9'].astype(str).apply(lambda x: ",".join([f"{float(i):.1f}" for i in x.split(",")]))
df['POST_CS_Q12'] = df['POST_CS_Q12'].astype(str).apply(lambda x: ",".join([f"{float(i):.1f}" for i in x.split(",")]))

# Function to replace values based on conditions
def replace_values(value):
    if value == '1.0':
        return 1.0
    else:
        return 2.0

# Apply the function to the column
df['PRE_CS_Q6'] = df['PRE_CS_Q6'].apply(replace_values)
df['POST_CS_Q6'] = df['POST_CS_Q6'].apply(replace_values)

df['PRE_CS_Q6'] = df['PRE_CS_Q6'].astype(str)
df['PRE_CS_Q9'] = df['PRE_CS_Q9'].astype(str)
df['PRE_CS_Q12'] = df['PRE_CS_Q12'].astype(str)

# Function to convert strings like '2,3' to float (e.g., 2.3) or 0 if invalid
#def convert_to_float_or_zero(value):
#    if isinstance(value, str):
#        parts = value.split(',')
#        if len(parts) == 2:  # Only if there are exactly two parts, convert
#            return float(parts[0] + '.' + parts[1])
#        else:
#            return 0  # Return 0 for cases like '1,2,3'
#    else:
#        return value  # Return the value unchanged if it's already numeric

# Apply the function to both POST_CS_Q9 and POST_CS_Q12
#df['POST_CS_Q9'] = df['POST_CS_Q9'].apply(convert_to_float_or_zero)
#df['POST_CS_Q12'] = df['POST_CS_Q12'].apply(convert_to_float_or_zero)
#df['POST_CS_Q6'] = df['POST_CS_Q6'].apply(convert_to_float_or_zero)

#df = df.apply(pd.to_numeric, errors='coerce')

df = df.drop(columns=['PRE_CS_Q17', 'PRE_CS_Q18'])
df = df.drop(columns=['POST_CS_Q17', 'POST_CS_Q18'])

#df.to_csv('SecondStepElementry.csv', index=False)

rubric = {
    1: 'B', 2: 'B', 3: 'C', 4: 'D', 5: 'A', 6: 'A', 7: 'B', 8: 'D', 9: 'A-D', 10: 'B',
    11: 'A', 12: 'B-C', 13: 'C', 14: 'C', 15: 'A', 16: 'B'
}

# Mapping between numbers and answer choices (e.g., 1 -> 'A', 2 -> 'B', etc.)
number_to_letter = {1.0: 'A', 2.0: 'B', 3.0: 'C', 4.0: 'D'}

# Function to check if the answer matches for multi-select questions
def is_correct_multi(answer, correct_answer):
    #if pd.isna(answer) or answer == 0.0 or answer == 1.0 or answer == 2.0 or answer == 3.0 or answer == 4.0:
    if pd.isna(answer) or answer == "nan" or answer == "":
        return 0  # Return 0 for NaN or 0.0
    # Convert the float answer to a string of letters (e.g., 1.0,4.0 -> A-D)
    #print(answer)
    answer_set = set([number_to_letter[float(x)] for x in str(answer).split(',')])
    correct_set = set(correct_answer.split('-'))
    return 1 if answer_set == correct_set else 0

# Function to check if the answer is correct for single-select questions
def is_correct_single(answer, correct_answer):
    if pd.isna(answer) or answer == 0.0:
        return 0  # Return 0 for NaN or 0.0
    return 1 if number_to_letter.get(float(answer), '') == correct_answer else 0

# Apply comparison for each question
for q_num in rubric.keys():
    question_col = f'POST_CS_Q{q_num}'
    answer_col = f'Ans{q_num}'

    # Check if the rubric answer is multi-select
    if '-' in rubric[q_num]:
        df[answer_col] = df[question_col].apply(lambda x: is_correct_multi(x, rubric[q_num]))
    else:
        df[answer_col] = df[question_col].apply(lambda x: is_correct_single(x, rubric[q_num]))

# Apply comparison for each question
for q_num in rubric.keys():
    question_col = f'PRE_CS_Q{q_num}'
    answer_col = f'Pre_Ans{q_num}'

    # Check if the rubric answer is multi-select
    if '-' in rubric[q_num]:
        df[answer_col] = df[question_col].apply(lambda x: is_correct_multi(x, rubric[q_num]))
    else:
        df[answer_col] = df[question_col].apply(lambda x: is_correct_single(x, rubric[q_num]))

df = df.drop(columns=['PRE_CS_Q1', 'PRE_CS_Q2', 'PRE_CS_Q3', 'PRE_CS_Q4', 'PRE_CS_Q5', 'PRE_CS_Q6', 'PRE_CS_Q7', 'PRE_CS_Q8', 'PRE_CS_Q9', 'PRE_CS_Q10', 'PRE_CS_Q11', 'PRE_CS_Q12', 'PRE_CS_Q13', 'PRE_CS_Q14', 'PRE_CS_Q15', 'PRE_CS_Q16'])

df['Pre_Final'] = df[['Pre_Ans1', 'Pre_Ans2', 'Pre_Ans3', 'Pre_Ans4', 'Pre_Ans5', 'Pre_Ans6', 'Pre_Ans7', 'Pre_Ans8', 'Pre_Ans9', 'Pre_Ans10', 'Pre_Ans11', 'Pre_Ans12', 'Pre_Ans13', 'Pre_Ans14', 'Pre_Ans15', 'Pre_Ans16']].sum(axis=1)

df = df.drop(columns=['Pre_Ans1', 'Pre_Ans2', 'Pre_Ans3', 'Pre_Ans4', 'Pre_Ans5', 'Pre_Ans6', 'Pre_Ans7', 'Pre_Ans8', 'Pre_Ans9', 'Pre_Ans10', 'Pre_Ans11', 'Pre_Ans12', 'Pre_Ans13', 'Pre_Ans14', 'Pre_Ans15', 'Pre_Ans16'])

df = df.drop(columns=['POST_CS_Q1', 'POST_CS_Q2', 'POST_CS_Q3', 'POST_CS_Q4', 'POST_CS_Q5', 'POST_CS_Q6', 'POST_CS_Q7', 'POST_CS_Q8', 'POST_CS_Q9', 'POST_CS_Q10', 'POST_CS_Q11', 'POST_CS_Q12', 'POST_CS_Q13', 'POST_CS_Q14', 'POST_CS_Q15', 'POST_CS_Q16'])

df['Post_Final'] = df[['Ans1', 'Ans2', 'Ans3', 'Ans4', 'Ans5', 'Ans6', 'Ans7', 'Ans8', 'Ans9', 'Ans10', 'Ans11', 'Ans12', 'Ans13', 'Ans14', 'Ans15', 'Ans16']].sum(axis=1)

df = df.drop(columns=['Ans1', 'Ans2', 'Ans3', 'Ans4', 'Ans5', 'Ans6', 'Ans7', 'Ans8', 'Ans9', 'Ans10', 'Ans11', 'Ans12', 'Ans13', 'Ans14', 'Ans15', 'Ans16'])


# Calculate the mean of Pre_RI_Interest for each school
school_pre_ri_mean = df.groupby('School')['Pre_RI_Interest'].mean()

# Now, replace the 'School' column values with the corresponding mean of Pre_RI_Interest
df['School'] = df['School'].map(school_pre_ri_mean)

df = df.drop(columns = ['Gender', 'Ethnicity.1', 'State', 'Teacher', 'Grade']) # , 'School'
#df = df.drop(columns = ['Pre_RI_Recognition_ByOthers'])
#df = df.drop(columns = ['Post_RI_Recognition_ByOthers'])

#df = df[df['Pre_Final'] <= df['Post_Final']]
#df = df[df['Pre_RI_Interest'] <= df['Post_RI_Interest']]
#df = df[df['Pre_RI_Competence'] <= df['Post_RI_Competence']]
#df = df[df['Pre_RI_Self_Recognition'] <= df['Post_RI_Self_Recognition']]
#df = df[df['Pre_RI_Recognition_ByOthers'] <= df['Post_RI_Recognition_ByOthers']]
#df = df[df['Teacher_Score'] > 0]

df.to_csv('Analysis2.csv', index=False)
#df.to_csv('Graph/CleanElementry.csv', index=False)
#df.to_csv('Methods/CleanElementry.csv', index=False)

df

,School,Teacher_Score,Pre_RI_Competence,Pre_RI_Interest,Pre_RI_Self_Recognition,Pre_RI_Recognition_ByOthers,Post_RI_Competence,Post_RI_Interest,Post_RI_Self_Recognition,Post_RI_Recognition_ByOthers,Pre_Final,Post_Final
0,13.940476,85,11,13,12,16,9,14,12,14,3,13
1,13.940476,85,13,15,15,12,13,17,15,14,12,14
2,13.940476,85,14,14,12,12,12,15,11,15,13,15
3,13.940476,85,17,18,18,18,15,13,18,18,10,13
4,13.940476,85,10,11,15,14,8,12,7,6,11,14
...,...,...,...,...,...,...,...,...,...,...,...,...
386,14.500000,91,14,16,14,18,10,10,10,14,6,5
387,14.500000,91,17,14,16,14,11,10,9,6,4,3
388,14.500000,91,15,14,14,18,13,12,12,16,6,7
389,14.500000,91,16,15,11,14,13,11,16,16,4,3
390,14.500000,91,19,17,13,16,18,16,15,17,7,8